@model PagedList.IPagedList<Form17.Models.Tbl_SSC_Form17_Final>
@{
    ViewBag.Title = "DivisionInfo";
}
<div class="row">
    <div class="col-sm-3">
        <a href="../Division/ExportToSSCNotepad" class="btn btn-primary">Downlaod SSC Notepad File</a>
    </div>
    <div class="col-sm-3">
        <a href="../Division/SSCDivisionInfo" class="btn btn-primary">View SSC Data</a>
    </div>
    <div class="col-sm-3">
        <a href="../Division/ExportToHSCNotepad" class="btn btn-primary">Downlaod HSC Notepad File</a>
    </div>
    <div class="col-sm-3">
        <a href="../Division/HSCDivisionInfo" class="btn btn-primary">View HSC Data</a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('li').removeClass('active');
        $($('#division')).addClass(' active');
    })
</script>
