
@{
    ViewBag.Title = "Halt";
    Layout = "~/Views/Shared/InitLayout.cshtml";
}

<label>दिनांक ३० सप्टेंबर २०२१ व १ ऑक्टोबर २०२१ रोजी संकेतस्थळ बंद राहील. २ ऑक्टोबर २०२१ पासून संकेतस्थळ पूर्ववत होईल.</label>