@{
    ViewBag.Title = "EnrollmentCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="EC">
    <div class="row" style="padding:10px;">
        <div class="form-group text-center col-md-offset-3 col-md-2">
            <label style="padding-top:5px;">Form No:</label><span style="color:Red">*</span>
        </div>
        <div class="form-group col-md-3 col">
            <input type="text" name="FormNo" id="FormNo" class="form-control" maxlength="7" required />
        </div>
    </div>
    <div class="row" style="padding:10px;">
        <div class="form-group text-center col-md-offset-3 col-md-2">
            <label style="padding-top:5px;">Mobile No:</label><span style="color:Red">*</span>
        </div>
        <div class="form-group col-md-3 col">
            <input type="text" name="Mobile" id="Mobile" class="form-control" maxlength="10" required />
        </div>
    </div>
    <div class="row form-group col-md-offset-5" style="padding:10px;">
        <input type="button" value="Submit" class="btn btn-primary" name="btnSubmit" id="btnSubmit" />
    </div>
    <div class="row form-group col-md-offset-5" style="padding:10px;">
        <span id="downloadlink"></span>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SSCEnrollmentCertificate")',
                dataType: 'json',
                data: {
                    formno: $("#FormNo").val(),
                    mobile: $("#Mobile").val()
                },
                beforeSend: function () {
                    $("#EC :input").prop("disabled", true);
                    $(".rounded").css("filter", "brightness(75%)");
                    Showloader();
                },
                complete: function () {
                    Hideloader();
                    $("#EC :input").prop("disabled", false);
                    $(".rounded").css("filter", "brightness(100%)");
                },
                success: function (Data) {
                    if (Data.Result) {
                        $("#btnSubmit").hide();
                        $("#downloadlink").empty();
                        $("#downloadlink").append('<a class = "btn btn-info" href="' + Data.file + '">Download EC</a>');
                    }
                    else {
                        Error_Alert(Data.Message);
                    }
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });
        $('li').removeClass('active');
        $($('#EC')).addClass(' active');
    });
</script>