@*@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<div style="background-color: #A52A2A; color: black; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: 170px;">
    <div style=" padding:20px; font-size:25px;">
        <br />
        <br />
        अर्ज करण्याची मुदत संपलेली आहे. याची विद्यार्थ्यांनी नोंद घ्यावी.
        <br />
        <br />
        इतर तपशीलासाठी विभागीय मंडळाशी संपर्क करावा.
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>


